

 <div class="register-page">
    <mat-card fxFlex="30">
<form (submit)=registerUser($event)>
   <mat-form-field >
     <mat-label>Username</mat-label>
     <input matInput placeholder="Username" >
   </mat-form-field>
 
   <mat-form-field >
     <mat-label>Password</mat-label>
     <input matInput type="password" placeholder="password">
   </mat-form-field>
  
   <mat-form-field >
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" >
  </mat-form-field>
  <mat-form-field >
    <mat-label>Surname</mat-label>
    <input matInput placeholder="Surname" >
  </mat-form-field>
  <mat-form-field >
    <mat-label>Grup</mat-label>
  
    <input matInput placeholder="Grup" >
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary">Register</button>
 </form>
</mat-card>
</div>