<div class="home-page">
  
<mat-card fxFlex="40">
<mat-tab-group>
    <mat-tab label="Login here">  <a routerLink="/login">Login</a></mat-tab>
    <mat-tab label="Do not hava an account?Register here"> <a routerLink="/register">Register</a> </mat-tab>
  </mat-tab-group>
</mat-card>
</div>