.home-page {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  mat-card {
    background-color: white;
    width: 30%;
    margin: 10% auto;
    border-radius: 8px;
  }
