
<div class="login-page">
     <mat-card fxFlex="30">
<form (submit)=loginUser($event)>
    <mat-form-field >
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" >
    </mat-form-field>
  
    <mat-form-field >
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="password">
    </mat-form-field>
    <div class="example-button-row">
    <button mat-raised-button type="submit" color="primary">Login</button>
  </div>
  </form>
</mat-card>
</div>