.login-page {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  

  mat-card {
     background-color: honeydew;
    width: 30%;
    margin: 10% auto;
    border-radius: 8px;
  }
  mat-form-field {
    width: 80%;
    display: block;
    margin: auto;
  }

  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  